<ol class="breadcrumb">
  <%= breadcrumb(@season, true) %>
</ol>
<h1><%= @season.name %></h1>
<h3><%= link_to('Add race', new_race_path) %></h3>

<% if @season.time_trial %>
<table class="table table-bordered">
  <tbody>
<% @leaderboard.sort_by { |k, v| v }.reverse.each_with_index do |pts, i| %>
    <tr>
      <td><%= (i + 1).ordinalize %></td>
      <td><%= pts[0].name %></td>
      <td><%= pts[1] %></td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>
