<div class="form-group">
  <%= f.label(:token) %>
  <%= f.text_field(:token, :class => 'form-control', :placeholder => 'Token') %>
</div>

<div class="form-group">
  <%= f.label(:session_type) %>
  <%= f.text_field(:session_type, :class => 'form-control', :placeholder => 'Session Type') %>
</div>

<div class="form-group">
  <%= f.label(:driver_id) %> (Not listed? <%= link_to('Add them!', new_driver_path) %>)
  <%= f.select(:driver_id, Driver.all.collect { |d| [d.claimed?, d.id] }, {}, { :class => 'form-control' }) %>
</div>

<div class="form-group">
  <%= f.label(:race_id) %> (Not listed? <%= link_to('Add it!', new_race_path) %>)
  <%= f.select(:race_id, Race.all.collect { |r| [r.full_name, r.id] }, {}, { :class => 'form-control' }) %>
</div>

<div class="checkbox">
  <%= f.label(:winner) do %>
    <%= f.check_box(:winner) %> Winner of the race?
  <% end %>
</div>

<div class="form-group">
  <%= f.label(:track_id) %> (Not listed? <%= link_to('Add it!', new_track_path) %>)
  <%= f.select(:track_id, Track.all.collect { |t| [t.name, t.id] }, {}, { :class => 'form-control' }) %>
</div>

<div class="form-group">
  <%= f.label(:image, "Screenshots") %>
  <%= hidden_field_tag('session[screenshot_ids]', @session.screenshot_ids.join(',')) %>
  <%= f.file_field(:image, :multiple => true, :name => "screenshot[image]") %>
  <ul id="screenshots">
    <% @session.screenshots.each do |s| %>
      <li><%= s.image_file_name %></li>
    <% end %>
  </ul>
  <div id="screenshot_upload"></div>
  <script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%= o.name %}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>
</div>

<div class="form-group">
  <%= f.submit('Save', :class => 'btn btn-default') %> <%= link_to('Cancel', sessions_path()) %>
</div>

