<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-target="#session-<%= index + 1 %>" id="link-session-<%= index + 1 %>" class="fa fa-plus"></a>
    <span id="short-session-<%= index + 1 %>"><%= short_session_info(session, @race, index) %></span>
  </div>
  <div class="panel-body collapse session-collapsible" id="session-<%= index + 1 %>">
    <%= render(:partial => 'sessions/session_details', :locals => { :sess => session, :tt => @race && @race.time_trial }) %>
    <%= render(:partial => 'sessions/session_laps', :locals => { :laps => session.laps, :session => session, :fastest => session.fastest_lap }) unless @race && @race.time_trial %>
  </div>
</div>
