<table class="table table-condensed">
  <tbody>
    <tr>
      <td><strong>Recorded:</strong></td>
      <td><%= Time.at(sess.token.to_i(36)) %></td>
    </tr>
    <tr>
      <td><strong>Driver:</strong></td>
      <td><%= sess.driver.try(:name) %></td>
    </tr>
    <tr>
      <td><strong>Race:</strong></td>
      <td><%= sess.race.try(:name) %></td>
    </tr>
    <tr>
      <td><strong>Track:</strong></td>
      <td><%= sess.track.try(:name) %></td>
    </tr>
<% if tt %>
    <tr>
      <td><strong>Dry/Wet:</strong></td>
      <td><%= sess.is_dry ? 'Dry' : 'Wet' %></td>
    </tr>
    <tr>
      <td><strong>Time:</strong></td>
      <td><%= nice_time(sess.laps.first.total) %></td>
    </tr>
<% else %>
    <tr>
      <td><strong>Laps:</strong></td>
      <td><%= sess.laps.size %></td>
    </tr>
    <tr>
      <td><strong>Chart:</strong></td>
      <td><%= link_to('View', chart_session_path(sess)) %></td>
    </tr>
    <tr>
      <td><strong>Edit:</strong></td>
      <td><%= link_to('Edit', edit_session_path(sess)) %></td>
    </tr>
<% end %>
  </tbody>
</table>
