<table class="table table-bordered">
<thead>
  <tr>
    <th>Number</th>
    <th>Sector 1</th>
    <th>Sector 2</th>
    <th>Sector 3</th>
    <th>Total</th>
    <th>Speed</th>
    <th>Fuel</th>
    <th>Position</th>
  </tr>
</thead>
<tbody>
<% laps.order(:lap_number).each do |lap| %>
  <tr <%= fastest_lap(lap) %>>
    <td><%= lap.lap_number + 1 %></td>
    <td><%= nice_time(lap.sector_1) %></td>
    <td><%= nice_time(lap.sector_2) %></td>
    <td><%= nice_time(lap.sector_3) %></td>
    <td><%= nice_time(lap.total) %></td>
    <td><%= nice_field(lap, 'speed') %></td>
    <td><%= nice_field(lap, 'fuel') %></td>
    <td><%= nice_field(lap, 'position') %></td>
  </tr>
<% end %>
  <tr>
    <td></td>
    <td><strong>Avg: </strong><%= nice_time(session.average_sector(1)) %></td>
    <td><strong>Avg: </strong><%= nice_time(session.average_sector(2)) %></td>
    <td><strong>Avg: </strong><%= nice_time(session.average_sector(3)) %></td>
    <td><strong>Avg: </strong><%= nice_time(session.average_lap) %><br/><strong>Total: </strong><%= nice_time(session.total_time) %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

