<table class="table table-condensed">
  <tbody>
    <tr>
      <td class="col-sm-1"><strong>Created:</strong></td>
      <td><%= sess.created_at %></td>
    </tr>
    <tr>
      <td><strong>Driver:</strong></td>
      <td><%= sess.driver.try(:name) %></td>
    </tr>
    <tr>
      <td><strong>Race:</strong></td>
      <td><%= sess.race.try(:name) %></td>
    </tr>
    <tr>
      <td><strong>Track:</strong></td>
      <td><%= sess.track.try(:name) %></td>
    </tr>
<% if tt %>
    <tr>
      <td><strong>Dry/Wet:</strong></td>
      <td><%= sess.is_dry ? 'Dry' : 'Wet' %></td>
    </tr>
    <tr>
      <td><strong>Time:</strong></td>
      <td><%= nice_time(sess.laps.first.total) %></td>
    </tr>
<% else %>
    <tr>
      <td><strong>Laps:</strong></td>
      <td><%= sess.laps.size %></td>
    </tr>
    <tr>
      <td><strong>Chart:</strong></td>
      <td><%= link_to('View', chart_session_path(sess)) %></td>
    </tr>
  <% if sess.screenshots.size > 0 %>
    <tr>
      <td><strong>Screenshots:</strong></td>
      <td>
        <ul>
        <% sess.screenshots.order(:image_file_name).each do |s| %>
          <li class="screenshot_<%= screenshot_class(s) %>"><%= link_to(s.image_file_name, edit_screenshot_path(s)) %></li>
        <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
<% end %>
<% if admin_path %>
    <tr>
      <td><strong>Edit:</strong></td>
      <td><%= link_to('Edit', edit_say_what_session_path(sess)) %></td>
    </tr>
<% end %>
  </tbody>
</table>
