<h1>Session Chart</h1>

<div class="form-group">
  <%= label_tag(:compare, 'Compare with another session') %><br/>
  <%= select_tag(:compare, options_from_collection_for_select(Session.all, "id", "name", @compare ? @compare.id : nil), { :class => 'form-control select2', :id => 'session_compare' }) %>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a id="tab-laps" href="#container-laps" data-toggle="tab">Laps</a></li>
  <li><a id="tab-fuel" href="#container-fuel" data-toggle="tab">Fuel</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active chart" id="container-laps"></div>
  <div class="tab-pane active chart" id="container-fuel"></div>
</div>

<script type="text/javascript">
  params = getQueryString();
  if (params.tab) {
    $('li.active').removeClass('active').parent().children().children('a#tab-' + params.tab).parent().addClass('active');

    $('.tab-pane').removeClass('active');
    $('#container-' + params.tab).addClass('active');
  }
  else {
    params.tab = 'laps';
  }

  var options = {
    chart: {
      type: 'spline'
    },
    title: {
      text: ""
    },
    plotOptions: {
      series: {
        animation: false
      },
      spline: {
        pointStart: 1
      }
    },
    xAxis: {
      title: {
        text: 'Lap'
      }
    },
    yAxis: {
      title: {
        text: ''
      },
      labels: {
        formatter: function() {
          var t1 = Math.floor(this.value / 60);
          var t2 = Math.floor(this.value % 60);
          return t1 + 'm' + (t2 < 10 ? '0' + t2 : t2);
        }
      },
      plotLines: [{
        value: <%= @session.average_lap %>,
        color: 'red',
        width: 2
      }]
    },
    tooltip: {
      shared: true,
      formatter: graph_one_formatter
    },
    series: [{
      name: "<%= @session.driver.name %>",
      data: [ <%= @session.laps.order(:lap_number).collect(&:total).join(",") %> ]
    }]
  };

<% if @compare %>
  options.series.push({ name: "<%= @compare.driver.name %>", data: [ <%= @compare.laps.order(:lap_number).collect(&:total).join(",") %> ]});
  options.yAxis.plotLines.push({
    value: <%= @compare.average_lap %>,
    color: 'green',
    width: 2
  });
<% end %>

  $('#container-laps').highcharts(options);

  // Fuel chart
  options.series = [{
    name: "<%= @session.driver.name %>",
    data: [ <%= @session.laps.order(:lap_number).where('fuel is not null').collect { |l| l.fuel.round(3).to_f }.join(",") %> ]
  }];

  <% if @compare %>
  options.series.push({ name: "<%= @compare.driver.name %>", data: [ <%= @compare.laps.order(:lap_number).where('fuel is not null').collect { |l| l.fuel.round(3).to_f }.join(",") %> ]});
  <% end %>

  delete options.tooltip.formatter;
  delete options.yAxis.labels.formatter;

  $('#container-fuel').highcharts(options);

</script>
