<h1>Editing Session Type</h1>

<%= form_for(@session, :url => session_path(@session)) do |f| %>
  <%= render(:partial => 'shared/errors', :object => @session ) %>
  <div class="form-group">
    <%= f.label(:session_type) %>
    <%= f.select(:session_type, [['Race', 11.0], ['Time Trial', 10.0], ['Qualifying', 170.0], ['Unknown', nil]], {}, { :class => 'form-control select2' }) %>
  </div>
  <div class="form-group">
    <%= f.submit('Save', :class => 'btn btn-default') %> <%= link_to('Cancel', user_path(current_user)) %>
  </div>
<% end %>
