<h1>Session details</h1>
<h3><%= link_to('Add another session', new_race_session_path(@race)) %></h3>
<%= render(:partial => 'session_details', :locals => { :sess => @session }) %>
<h2>Laps</h2>
<div class="panel panel-default">
  <div class="panel-heading"><%= @session.driver.name %></div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number</th>
        <th>Sector 1</th>
        <th>Sector 2</th>
        <th>Sector 3</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
    <% @session.laps.where(:session_id => @session.id).order(:lap_number).each do |lap| %>
      <tr>
        <td><%= lap.lap_number + 1 %></td>
        <td><%= nice_time(lap.sector_1) %></td>
        <td><%= nice_time(lap.sector_2) %></td>
        <td><%= nice_time(lap.sector_3) %></td>
        <td><%= nice_time(lap.total) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
