 <div class="form-group">
  <%= f.label(:driver_id) %> (Not listed? <%= link_to('Add them!', new_say_what_driver_path) %>)
  <%= f.select(:driver_id, Driver.order(:name).collect { |d| [d.claimed?, d.id] }, {}, { :class => 'form-control select2' }) %>
</div>

<div class="form-group">
  <%= f.label(:race_id) %> (Not listed? <%= link_to('Add it!', new_say_what_race_path) %>)
  <%= f.select(:race_id, options_from_collection_for_select(Race.order(:name), "id", "full_name", @session.race_id || params[:race_id].to_i), {}, { :class => 'form-control select2' }) %>
</div>

<div class="checkbox">
  <%= f.label(:winner) do %>
    <%= f.check_box(:winner) %> Winner of the race?
  <% end %>
  <%= display_help('This is primarily used for the gaps chart') %>
</div>

<div class="form-group">
  <%= f.label(:track_id) %> (Not listed? <%= link_to('Add it!', new_say_what_track_path) %>)
  <%= f.select(:track_id, options_from_collection_for_select(Track.order(:name), "id", "name", @session.track_id), {}, { :class => 'form-control select2' }) %>
</div>

<div class="form-group">
  <%= f.label(:image, "Screenshots") %>
  <%= display_help('Multiple screenshots can be selected and are uploaded in the background. Once the progress bar has turned green for all screenshots, it is safe to save the session.') %>
  <%= hidden_field_tag('session[screenshot_ids]', @session.screenshot_ids.join(',')) %>
  <%= f.file_field(:image, :multiple => true, :name => "screenshot[image]") %>
  <ul id="screenshots">
    <% @session.screenshots.order(:image_file_name).each do |s| %>
      <li class="screenshot_<%= screenshot_class(s) %>"><%= link_to(s.image_file_name, edit_screenshot_path(s)) %></li>
    <% end %>
  </ul>
  <div id="screenshot_upload"></div>
  <script id="template-upload" type="text/x-tmpl">
  <div class="upload" data-filename="{%= o.name %}">
    {%= o.name %}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>
</div>

<div class="form-group">
  <%= f.submit('Save', :class => 'btn btn-default') %> <%= cancel_link(@session) %>
</div>
