<h1><%= @league.name %></h1>

<h2>Drivers Championship</h2>
<p><%= link_to('Generate drivers table', generate_drivers_table_league_path(@league)) %></p>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Pos.</th>
      <th>Team</th>
      <th>Name</th>
      <th>Points</th>
      <% @league.races.order(:start_date).each do |race| %>
      <th title="<%= race.name %>"><%= race.short_name %></th>
      <% end %>
      <th>Split</th>
    </tr>
  </thead>
  <tbody>
    <% @league.drivers.sort { |a,b| a.points <=> b.points }.reverse.to_enum.with_index(1).each do |driver, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= driver.team_name %></td>
      <td><%= driver.name %></td>
      <td id="driver-points-<%= driver.id %>"><%= driver.points %></td>
      <% @league.races.order(:start_date).each do |race| %>
        <%= driver_race_result(driver, race) %>
      <% end %>
      <td id="driver-split-<%= driver.id %>" class="split-target split-target-driver">?</td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="hide modal" id="result-modal-new">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2>Add result</h2>
  </div>

  <div class="modal-body">
    <%= form_for(Result.new, :url => admin_results_path(), :class => 'form-horizontal well', 'data-async' => '', 'data-target' => "#result-modal", :remote => true) do |f| %>
      <%= f.hidden_field(:driver_id) %>
      <%= f.hidden_field(:race_id) %>
      <%= f.hidden_field(:team_id) %>
      <p>
      <%= f.label(:position) %>
      <%= f.text_field(:position, :style => 'width:auto;', :size => 1) %>
      </p>
      <p>
      <%= f.label(:fastest_lap, :class => 'checkbox') do %>
        <%= f.check_box(:fastest_lap) %> Fastest Lap?
      <% end %>
      </p>
      <p>
      <%= f.label(:pole_position, :class => 'checkbox') do %>
        <%= f.check_box(:pole_position) %> Pole Position?
      <% end %>
      </p>

      <p>
      <%= f.submit('Save', :class => 'btn btn-primary') %>
      <%= link_to('Cancel', '#', :class => 'btn btn-danger', 'data-dismiss' => 'modal') %>
      </p>
    <% end %>
  </div>
</div>

<h2>Constructors Championship</h2>
<p><%= link_to('Generate constructors table', generate_teams_table_league_path(@league)) %></p>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Pos.</th>
      <th>Name</th>
      <th>Points</th>
      <% @league.races.order(:start_date).each do |race| %>
      <th title="<%= race.name %>"><%= race.short_name %></th>
      <% end %>
      <th>Split</th>
    </tr>
  </thead>
  <tbody>
    <% @league.teams.sort { |a,b| a.points(@league.id) <=> b.points(@league.id) }.reverse.to_enum.with_index(1).each do |team, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= team.name %></td>
      <td id="team-points-<%= team.id %>"><%= team.points(@league.id) %></td>
      <% @league.races.order(:start_date).each do |race| %>
        <td><% cache "team_#{team.id}_race_#{race.id}" do %><%= team_race_points(team, race) %><% end %></td>
      <% end %>
      <td id="team-split-<%= team.id %>" class="split-target split-target-team">?</td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to('Generate results table', generate_winners_table_league_path(@league)) %></p>

