<h1>Results</h1>
<p><%= link_to 'Create', new_admin_result_path %></p>


<div class="accordion" id="accordion">
  <% @results.each do |league, races| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#league-<%= league.id %>">
        <%= league.name %>
      </a>
    </div>
    <div id="league-<%= league.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="accordion" id="accordion2">
          <% races.each do |race, results| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#race-<%= race.id %>">
                <%= race.name %>
              </a>
            </div>
            <div id="race-<%= race.id %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Driver</th>
                      <th>Team</th>
                      <th>Position</th>
                      <th>Pole Position</th>
                      <th>Fastest Lap</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% results.each do |result| %>
                    <tr>
                      <td><%= link_to(result.driver.name, edit_admin_result_path(result)) %></td>
                      <td><%= result.team.name %></td>
                      <td><%= result.describe_position %></td>
                      <td><%= result.pole_position ? 'Yes' : 'No' %></td>
                      <td><%= result.fastest_lap ? 'Yes' : 'No' %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
