<div class="form-group">
  <%= f.label(:name) %>
  <%= f.text_field(:name, :class => 'form-control', :placeholder => 'Name') %>
</div>

<div class="form-group">
  <%= f.label(:session_ids, 'Sessions') %>
  <%= f.select(:session_ids, Session.all.collect { |s| [s.name, s.id] }, {}, { :multiple => true, :class => 'form-control', :size => 20 }) %>
</div>

<div class="form-group">
  <%= f.submit('Save', :class => 'btn btn-default') %>
</div>
