<table class="table" id="session_list">
  <thead>
  <tr>
  <% if self.lookup_context.prefixes.first == 'races' %>
    <th>Super League</th>
    <th>League</th>
    <th>Season</th>
  <% end %>
    <th>Race</th>
    <th>Track</th>
    <th>Date</th>
    <th>Winner</th>
    <th>Laps</th>
  </tr>
  </thead>
  <tbody>
  <% races.each do |race| %>
    <tr class="<%= params[:compare].to_i == race.id ? 'bg-success' : ''  %>" data-super-league="<%= race.super_league.try(:name).try(:parameterize) %>" data-league="<%= race.league.filter_name %>" data-season="<%= race.try(:season).try(:filter_name) %>" data-track="<%= race.try(:track).try(:name).try(:parameterize) %>" data-winner="<%= race.winner.try(:parameterize) %>">
    <% if self.lookup_context.prefixes.first == 'races' %>
      <td><%= race.super_league.try(:name) %></td>
      <td><%= race.league.try(:name) %></td>
      <td><%= race.try(:season).try(:name) %></td>
      <td><%= link_to(race.try(:name), "?compare=#{race.id}") %></td>
    <% else %>
      <td><%= link_to(race.try(:name), race) %></td>
    <% end %>
      <td><%= race.try(:track).try(:name) %></td>
      <td><%= race.created_at.strftime('%d %b %Y') %></td>
      <td><%= race.winner %></td>
      <td><%= race.laps %></td>
    </tr>
  <% end %>
  </tbody>
</table>
