<script type="text/javascript">
  var race = {
    "time_trial": <%= @race.time_trial?.to_s %>,
    "sectors_available": <%= @race.has_sectors?.to_s %>,
    "speed_available": <%= @race.has_speed?.to_s %>,
    "fuel_available": <%= @race.has_fuel?.to_s %>,
    "position_available": <%= @race.has_position?.to_s %>,
    "sessions": [
      <% @race_sessions.each do |session| %>
      {
        "name": "<%= session.driver.try(:name) %>",
        "color": "<%= session.driver.try(:colour) unless @race.time_trial? %>",
        "marker": { symbol: "<%= session.driver.try(:marker) unless @race.time_trial? %>" },
        "laps": <%= session.laps.order(:lap_number).collect(&:total) %>,
        "sector1": <%= session.laps.order(:lap_number).collect(&:sector_1).compact %>,
        "sector2": <%= session.laps.order(:lap_number).collect(&:sector_2).compact %>,
        "sector3": <%= session.laps.order(:lap_number).collect(&:sector_3).compact %>,
        "fuel": <%= session.laps.order(:lap_number).where('fuel is not null').collect { |l| l.fuel.round(3).to_f }.compact %>,
        "speed": <%= session.top_speed.try(:nice_top_speed) || [] %>,
        "position": <%= session.laps.order(:lap_number).collect(&:position).compact %>,
        "grid_position": <%= session.grid_position || "null" %>
      },
      <% end %>
    ]
  };
</script>

<ol class="breadcrumb">
  <%= breadcrumb(@race, true) %>
</ol>
<h1><%= @race.name %></h1>

<ul class="nav nav-tabs">
  <li class="active"><a id="tab-results" href="#container-results" data-toggle="tab">Results</a></li>
<% unless @race.time_trial? %>
  <li><a id="tab-qualifying" href="#container-qualifying" data-toggle="tab">Qualifying</a></li>
  <li><a id="tab-laps" href="#container-laps" data-toggle="tab">Laps</a></li>
  <li><a id="tab-gaps" href="#container-gaps" data-toggle="tab">Gaps</a></li>
  <li><a id="tab-diffs" href="#container-diffs" data-toggle="tab">Diffs</a></li>
  <li><a id="tab-sectors" href="#container-sectors" data-toggle="tab">Sectors</a></li>
  <li><a id="tab-pace" href="#container-pace" data-toggle="tab">Pace</a></li>
  <li><a id="tab-fuel" href="#container-fuel" data-toggle="tab">Fuel</a></li>
  <li><a id="tab-speed" href="#container-speed" data-toggle="tab">Speed</a></li>
  <li><a id="tab-position" href="#container-position" data-toggle="tab">Position</a></li>
  <li><a id="tab-options" href="#container-options" data-toggle="tab">Compare</a></li>
<% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="container-results">
    <table class="table">
      <thead>
      <tr>
        <th class="col-sm-1">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-columns" aria-hidden="true"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu column-toggle-padding">
              <li class="checkbox"><label><input type="checkbox" data-toggle-column="driver" checked="checked"> Driver</label></li>
              <% if @race.assetto_corsa? %>
                <li class="checkbox"><label><input type="checkbox" data-toggle-column="vehicle" checked="checked"> Vehicle</label></li>
                <li class="checkbox"><label><input type="checkbox" data-toggle-column="ballast" checked="checked"> Ballast</label></li>
              <% end %>
              <li class="checkbox"><label><input type="checkbox" data-toggle-column="laps" checked="checked"> Laps</label></li>
              <li class="checkbox"><label><input type="checkbox" data-toggle-column="total-time" checked="checked"> Total Time</label></li>
              <li class="checkbox"><label><input type="checkbox" data-toggle-column="gap" checked="checked"> Gap</label></li>
              <li class="checkbox"><label><input type="checkbox" data-toggle-column="fastest-lap" checked="checked"> Fastest Lap</label></li>
              <li class="checkbox"><label><input type="checkbox" data-toggle-column="average-lap" checked="checked"> Average Lap</label></li>
              <li class="checkbox"><label><input type="checkbox" data-toggle-column="consistency" checked="checked"> Consistency</label></li>
            </ul>
          </div>
        </th>
        <th class="toggle-column-driver">Driver</th>
        <% if @race.assetto_corsa? %>
          <th class="toggle-column-vehicle">Vehicle</th>
          <th class="toggle-column-ballast">Ballast</th>
        <% end %>
        <% unless @race.time_trial? %>
          <th class="toggle-column-laps col-sm-1">Laps</th>
          <th class="toggle-column-total-time col-sm-1">Total Time</th>
        <% end %>
        <th class="toggle-column-gap col-sm-2">Gap</th>
        <th class="toggle-column-fastest-lap col-sm-1">Fastest Lap</th>
        <% if @race.time_trial? %>
          <th class="col-sm-1">Points</th>
        <% else %>
          <th class="toggle-column-average-lap col-sm-1">Average Lap</th>
          <th class="toggle-column-consistency col-sm-2" colspan="2">
            Consistency
            <%= display_help('"Top 80%" is the best 80% of the laps you completed. "Total" is all laps, including in- and out-laps, but excluding lap 1.') %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @race_sessions.each_with_index do |session, index| %>
        <tr>
          <td><%= (index + 1).ordinalize %></td>
          <td class="toggle-column-driver"><%= session.driver.try(:name) %></td>
          <% if @race.assetto_corsa? %>
            <td class="toggle-column-vehicle"><%= session.vehicle %></td>
            <td class="toggle-column-ballast"><%= session.ballast %> kg</td>
          <% end %>
          <% unless @race.time_trial? %>
            <td class="toggle-column-laps"><%= session.laps.count %></td>
            <td class="toggle-column-total-time"><%= nice_time(session.total_time) %></td>
          <% end %>
          <td class="toggle-column-gap"><%= nice_gap(@race_sessions, session, index) %></td>
          <td class="toggle-column-fastest-lap"><%= nice_time(session.fastest_lap.try(:total)) %> <% if !@race.time_trial? %>(lap <%= session.fastest_lap ? session.fastest_lap.lap_number + 1 : 1 %>)<% end %></td>
          <% if @race.time_trial? %>
            <td><%= Race::POINTS[index] || 0 %></td>
          <% else %>
            <td class="toggle-column-average-lap"><%= nice_time(session.average_lap) %></td>
            <td class="toggle-column-consistency">
              <strong>Top 80%:</strong> <%= session.consistency(true) %>
            </td>
            <td class="toggle-column-consistency">
              <strong>Total:</strong> <%= session.consistency %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane active" id="container-qualifying">
    <table class="table">
      <thead>
        <tr>
          <th class="col-sm-1"></th>
          <th class="toggle-column-driver">Driver</th>
          <th class="toggle-column-vehicle">Qualifying Lap</th>
        </tr>
      </thead>
      <tbody>
      <% @race_sessions.sort_by(&:grid_position).each_with_index do |session, index| %>
        <tr>
          <td><%= (index + 1).ordinalize %></td>
          <td class="toggle-column-driver"><%= session.driver.try(:name) %></td>
          <td class="toggle-column-total-time"><%= nice_time(session.qualifying_lap) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="container-laps">
    <%= render(:partial => 'chart_link_options', :locals => { :chart => 'laps' }) %>
    <div class="chart" id="container-laps-child"></div>
  </div>
  <div class="tab-pane" id="container-gaps">
    <%= render(:partial => 'chart_link_options', :locals => { :chart => 'gaps' }) %>
    <div class="chart" id="container-gaps-child"></div>
  </div>
  <div class="tab-pane" id="container-diffs">
    <%= render(:partial => 'chart_link_options', :locals => { :chart => 'diffs' }) %>
    <div class="chart" id="container-diffs-child"></div>
  </div>
  <div class="tab-pane" id="container-sectors">
    <div>
      <div style="width: 510px; margin-left: 508px;">
        <table class="table table-bordered table-condensed" style="margin:5px;">
          <thead>
          <tr>
            <th>Sector</th>
            <th>Driver</th>
            <th>Sector Time</th>
          </tr>
          </thead>
          <tbody>
          <tr><td>1</td><td id="tb-1-driver"></td><td id="tb-1-time"></td></tr>
          <tr><td>2</td><td id="tb-2-driver"></td><td id="tb-2-time"></td></tr>
          <tr><td>3</td><td id="tb-3-driver"></td><td id="tb-3-time"></td></tr>
          <tr><td></td><td>Total</td><td id="tb-total"></td></tr>
          </tbody>
        </table>
      </div>
      <div id="container-sectors-sector1" class="sectors"></div>
      <div id="container-sectors-sector2" class="sectors"></div>
      <div id="container-sectors-sector3" class="sectors"></div>
    </div>
    <div>
      <div id="container-sectors-sector1-average" class="sectors"></div>
      <div id="container-sectors-sector2-average" class="sectors"></div>
      <div id="container-sectors-sector3-average" class="sectors"></div>
    </div>
  </div>
  <div class="tab-pane" id="container-pace">
    <p class="well">These charts show each drivers average lap time over the top 15, 50 and 80 percent of the laps they completed. This attempts to show a better metric for driver speed/pace by effectively excluding out laps and big mistakes (thanks splendidtree!).</p>
    <div id="container-pace-15" class="sectors"></div>
    <div id="container-pace-50" class="sectors"></div>
    <div id="container-pace-80" class="sectors"></div>
  </div>
  <div class="tab-pane" id="container-fuel">
    <%= render(:partial => 'chart_link_options', :locals => { :chart => 'fuel' }) %>
    <div class="chart" id="container-fuel-child"></div>
  </div>
  <div class="tab-pane" id="container-speed">
    <div class="chart" id="container-speed-child"></div>
  </div>
  <div class="tab-pane" id="container-position">
    <div class="chart" id="container-position-child"></div>
  </div>
  <div class="tab-pane" id="container-options">
    <div class="form-group">
      <fieldset>
        <legend>Filters</legend>
        <div class="form-group">
          <strong>Track: </strong>
          <%= select_tag(:track, options_from_collection_for_select(Track.all, "id", "name"), { :multiple => true, :class => 'form-control select2 race-compare' }) %>
        </div>
      </fieldset>
      <table class="table table-striped table-condensed" id="race_list">
        <thead>
        <tr>
          <th>Winner</th>
          <th>Track</th>
          <th>Laps</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
