<div class="form-group">
  <%= f.label(:name) %>
  <%= f.text_field(:name, :class => 'form-control', :placeholder => 'Name') %>
</div>

<div class="form-group">
  <%= f.label(:season_id, 'Season') %> (Not listed? <%= link_to('Add it!', new_say_what_season_path) %>)
  <%= f.select(:season_id, options_from_collection_for_select(Season.all, "id", "full_name", @race.season_id), {}, { :class => 'form-control select2' }) %>
</div>

<div class="form-group">
  <%= f.label(:track_id, 'Track') %> (Not listed? <%= link_to('Add it!', new_say_what_track_path) %>)
  <%= f.select(:track_id, options_from_collection_for_select(Track.where('name is not null').where('name != ?', '').order(:name), "id", "name", @race.track_id), {}, { :class => 'form-control select2' }) %>
</div>

<fieldset>
  <legend>Session Options</legend>
  <div class="form-group">
    <%= f.label(:driver_session_ids, 'New Sessions') %>
    <span class="glyphicon glyphicon-question-sign help-popover" data-container="body" data-toggle="popover" data-placement="right" data-content="Type in the names of the drivers involved and select from the list. Sessions will be created for the selected drivers if required, and unassigned if you deselect a driver."></span>
    <%= f.select(:driver_session_ids, options_from_collection_for_select(Driver.all, "id", "name", @sessions), {}, { :multiple => true, :class => 'form-control select2' }) %>
  </div>

  <div class="form-group">
    <%= f.label(:existing_driver_session_ids, 'Existing Sessions') %>
    <span class="glyphicon glyphicon-question-sign help-popover" data-container="body" data-toggle="popover" data-placement="right" data-content="Type in session numbers given to you by those using the logging app. This is used to (re)assign existing sessions to this race, it doesn't create new ones."></span>
    <%= f.select(:existing_driver_session_ids, options_from_collection_for_select(Session.all, "id", "id", @race.session_ids), {}, { :multiple => true, :class => 'form-control select2' }) %>
  </div>
</fieldset>

<fieldset>
  <legend>Time Trial Options</legend>
  <div class="checkbox">
    <%= f.label(:time_trial) do %>
      <%= f.check_box(:time_trial) %> Time Trial?
    <% end %>
  </div>

  <div class="checkbox">
    <%= f.label(:is_dry) do %>
      <%= f.check_box(:is_dry) %> Dry Weather?
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label(:thing, 'Reddit URL') %>
    <%= f.text_field(:thing, :class => 'form-control', :placeholder => 'Thing or URL') %>
  </div>
</fieldset>

<fieldset>
  <legend>FIA Race</legend>
  <div class="checkbox">
    <%= f.label(:fia) do %>
      <%= f.check_box(:fia) %> FIA Race?
    <% end %>
  </div>
</fieldset>

<div class="form-group">
  <%= f.submit('Save', :class => 'btn btn-default') %> <%= cancel_link(@race) %>
</div>
