<div class="form-group">
  <%= f.label(:name) %>
  <%= f.text_field(:name, :class => 'form-control', :placeholder => 'Name') %>
</div>

<div class="form-group">
  <%= f.label(:season_id, 'Season') %> (Not listed? <%= link_to('Add it!', new_say_what_season_path) %>)
  <%= f.select(:season_id, options_from_collection_for_select(Season.all, "id", "full_name", @race.season_id), {}, { :class => 'form-control select2' }) %>
</div>

<div class="form-group">
  <%= f.label(:track_id, 'Track') %> (Not listed? <%= link_to('Add it!', new_say_what_track_path) %>)
  <%= f.select(:track_id, options_from_collection_for_select(Track.where('name is not null').where('name != ?', '').order(:name), "id", "name", @race.track_id), {}, { :class => 'form-control select2' }) %>
</div>

<fieldset>
  <legend>Session Options</legend>
  <div class="form-group">
    <%= f.label(:driver_session_ids, 'New Sessions') %>
    <%= display_help('Type in the names of the drivers involved and select from the list. Sessions will be created for the selected drivers if required, and unassigned if you deselect a driver.') %>
    <%= f.select(:driver_session_ids, options_from_collection_for_select(Driver.all, "id", "name", @sessions), {}, { :multiple => true, :class => 'form-control select2' }) %>
  </div>

  <div class="form-group">
    <%= f.label(:existing_driver_session_ids, 'Existing Sessions') %>
    <%= display_help('Type in session numbers given to you by those using the logging app, separated by commas. This is used to (re)assign existing sessions to this race, it doesn\'t create new ones.') %>
    <%= f.text_field(:existing_driver_session_ids, :class => 'form-control select2' ) %>
  </div>
</fieldset>

<fieldset>
  <legend>Time Trial Options</legend>
  <div class="checkbox legend-fix">
    <%= f.label(:time_trial) do %>
      <%= f.check_box(:time_trial) %> Time Trial?
    <% end %>
  </div>

  <div class="checkbox">
    <%= f.label(:is_dry) do %>
      <%= f.check_box(:is_dry) %> Dry Weather?
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label(:thing, 'Reddit URL') %>
    <%= f.text_field(:thing, :class => 'form-control', :placeholder => 'Thing or URL') %>
  </div>
</fieldset>

<fieldset>
  <legend>FIA Race</legend>
  <div class="checkbox legend-fix">
    <%= f.label(:fia) do %>
      <%= f.check_box(:fia) %> FIA Race?
    <% end %>
  </div>
</fieldset>

<fieldset>
  <legend>AC Log</legend>
  <div class="form-group">
    <%= f.file_field(:ac_log) %>
  </div>
  <div class="checkbox">
    <%= f.label(:ac_log_server) do %>
      <%= f.check_box(:ac_log_server) %> Log is from the server
    <% end %>
  </div>
</fieldset>

<div class="form-group">
  <%= f.submit('Save', :class => 'btn btn-default') %> <%= cancel_link(@race) %>
</div>
