<h1>Listing Races</h1>

<%= link_to('New Race', new_say_what_race_path) %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @races.each do |race| %>
    <tr>
      <td><%= link_to(race.full_name, say_what_race_path(race)) %></td>
      <td><%= link_to('Edit', edit_say_what_race_path(race)) %> | <%= link_to('Destroy', say_what_race_path(race), :method => :delete, :data => { :confirm => 'Are you sure?' }) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link_to('New Race', new_say_what_race_path) %>
