<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, :class => 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password %>
  <span class="glyphicon glyphicon-question-sign help-popover" data-container="body" data-toggle="popover" data-placement="right" data-content="Only enter your password if you wish to change it."></span>
  <%= f.password_field :password, :class => 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => 'form-control' %>
</div>
