<h1>Reset Password</h1>

<% if @user %>
  <%= form_tag(do_reset_password_user_path(@user)) do %>
    <%= hidden_field_tag(:token, params[:token]) %>
    <div class="form-group">
      <%= label_tag('user[password]', 'Password') %>
      <%= password_field_tag('user[password]', '', :class => 'form-control') %>
    </div>
    <div class="form-group">
      <%= submit_tag("Reset Password", :class => 'btn btn-default') %>
    </div>
  <% end %>
<% else %>
  <%= form_tag(send_reset_password_users_path) do %>
    <div class="form-group">
      <%= label_tag('user[email]', 'Email address') %>
      <%= text_field_tag('user[email]', '', :class => 'form-control') %>
    </div>
    <div class="form-group">
      <%= submit_tag("Send Reset Password Email", :class => 'btn btn-default') %>
    </div>
  <% end %>
<% end %>
