<h1>Races</h1>
<p><%= link_to 'Create', new_admin_race_path %></p>

<div class="accordion" id="accordion">
  <% @races.each do |league, races| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#league-<%= league.id %>">
        <%= league.name %>
      </a>
    </div>
    <div id="league-<%= league.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Race</th>
              <th>Start Date</th>
            </tr>
          </thead>
          <tbody>
          <% races.each do |race| %>
            <tr>
              <td><%= link_to(race.name, edit_admin_race_path(race)) %></td>
              <td><%= race.start_date %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>
