<h1>Admin</h1>

<ul>
  <li><%= link_to('Edit Drivers', say_what_drivers_path) %></li>
  <li><%= link_to('Edit Tracks', say_what_tracks_path) %></li>
  <li><%= link_to('Edit Users', say_what_users_path) %></li>
  <li><%= link_to('Edit Super Leagues', say_what_super_leagues_path) %></li>
  <li><%= link_to('Edit Leagues', say_what_leagues_path) %></li>
  <li><%= link_to('Edit Seasons', say_what_seasons_path) %></li>
  <li><%= link_to('Edit Races', say_what_races_path) %></li>
  <li><%= link_to('Edit Sessions', say_what_sessions_path) %></li>
  <li><%= link_to('Edit Screenshots', say_what_screenshots_path) %></li>
  <li><%= link_to('Edit Laps', say_what_laps_path) %></li>
</ul>
