<h1>Welcome!</h1>
<p><%= link_to('Racing League Charts', root_path) %> is a website for generating and displaying various charts for the F1 series of games by Codemasters, and Assetto Corsa by Kunos Simulazioni.</p>

<h3>Sign in or sign up</h3>
<p>If you wish to use the companion app, the first thing you need to do is <%= link_to('Sign up', sign_up_users_path) %> (or <%= link_to('sign in', sign_in_users_path)%> if you already have an account), and claim a driver from your profile page.</p>
<p>If you can't find your driver, please contact <%= link_to('lordp', 'mailto:darryl@addict.net.nz') %> for help.</p>

<h3>Generation</h3>
<p>To generate the charts for a race, what game you are playing determines the method.</p>

<h4>F1 series</h4>
<p>For the F1 series of games, the primary method is via the companion app, which can be downloaded <%= link_to('here', '/racingleaguecharts.exe') %>. This is a Windows only app. More information on how to use the app can be found <%= link_to('here', '/app.html') %>.</p>
<p>The second method is to take screenshots of the Race Director screens after each race and upload them.</p>

<h4>Assetto Corsa</h4>
<p>The only way to do this currently is to upload the race log. It is preferred that some editing of the log is done beforehand to reduce processing time.</p>

<p>If you have any questions, suggestions or concerns, please <%= link_to('let me know', 'mailto:darryl@addict.net.nz') %>.</p>

