<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :team %>
<%= f.collection_select :team_id, Team.all, :id, :name %>

<%= f.label :country %>
<%= f.text_field :country %>
<span class="help-block">Used for flair</span>

<h2>League entered</h2>
<ul class="unstyled">
  <% League.all.each do |l| %>
    <li>
      <%= f.label l.id, :class => 'radio' do %>
        <%= f.radio_button(:league_id, l.id) %> <%= l.name %>
      <% end %>
    </li>
  <% end %>
</ul>
