<h1><%= @driver.claimed? %></h1>

<p><%= link_to('Edit', edit_driver_path(@driver)) %> | <%= link_to('Back to user', edit_user_path(@driver.user)) %></p>

<h2>Sessions</h2>
<%= paginate @sessions %>
<% @sessions.each_with_index do |session, index| %>
  <%= render(:partial => 'sessions/session', :object => session, :locals => { :index => index }) %>
<% end %>
<%= paginate @sessions %>
