<h1>Listing Laps</h1>

<%= link_to('New Lap', new_say_what_lap_path) %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @laps.each do |lap| %>
    <tr>
      <td><%= link_to(lap.full_name, say_what_lap_path(lap)) %></td>
      <td><%= link_to('Edit', edit_say_what_lap_path(lap)) %> | <%= link_to('Destroy', say_what_lap_path(lap), :method => :delete, :data => { :confirm => 'Are you sure?' }) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link_to('New Lap', new_say_what_lap_path) %>
