<h1>#<%= @lap.lap_number %>, <%= @lap.converted_total %></h1>
<%= link_to('Edit', edit_say_what_lap_path(@lap)) %> | <%= link_to('Destroy', say_what_lap_path(@lap), :method => :delete, :data => { :confirm => 'Are you sure?' }) %> | <%= link_to("Back to index", say_what_laps_path) %>
