<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :flair %>
<%= f.text_field :flair %>
<span class="help-block">Put in the last part of the flair class - ie rbr for Red Bull Racing</span>

<%= f.label :country %>
<%= f.text_field :country %>
<span class="help-block">Put in the last part of the country flair class - ie uk for United Kingdom</span>

<h2>Leagues entered</h2>
<ul class="unstyled">
<% League.all.each do |l| %>
  <li>
  <%= label_tag l.name, nil, :class => 'checkbox' do %>
    <%= check_box_tag("team[league_ids][]", l.id, @team.league_ids.include?(l.id)) %> <%= l.name %>
  <% end %>
  </li>
<% end %>
</ul>
