<div class="form-group">
  <div class="pull-left">
    <%= f.label(:parsed) %>
    <%= f.text_area(:parsed, :class => 'form-control', :placeholder => 'Parsed Text') %>
  </div>
  <div class="pull-left">
    <p><strong>Image</strong></p>
    <%= image_tag(@screenshot.image.url(:three_quarters)) %>
  </div>
</div>

<div class="clearfix"></div>

<div class="form-group">
  <%= f.label(:image) %>
  <%= f.file_field(:image, :class => 'form-control') %>
</div>

<div class="form-group">
  <%= f.submit('Save', :class => 'form-control') %>
</div>
