<div>
  <div class="pull-left" style="margin-right: 10px">
    <div class="form-group">
      <%= f.label(:parsed, @screenshot.fia? ? "Lap Times" : "Parsed") %>
      <%= display_help(screenshot_popover_content(@screenshot)) %>
      <div style="border: solid 1px #000;">
      <%= f.text_area(:parsed, :class => 'form-control', :placeholder => 'Parsed Text') %>
      </div>
    </div>

    <div class="checkbox">
      <%= f.label(:confirmed) do %>
        <%= f.check_box(:confirmed, { :disabled => !@screenshot.fia? && (@screenshot.image.nil? || @screenshot.parsed.blank?) }) %> Lap times are correct?
      <% end %>
      <%= display_help('This lets the site know that you believe the lap times are correct and to generate individual lap records. There is no way to confirm the truth of this, please be honest :)') %>
    </div>

    <div class="form-group">
      <%= f.submit('Save', :class => 'btn btn-default') %> <%= cancel_link(@screenshot, false) %>
    </div>
  </div>

  <div class="pull-left">
  <% unless @screenshot.fia? %>
    <p><strong>Image</strong></p>
    <%= image_tag(@screenshot.image.url(:three_quarters)) %>
  <% end %>
  </div>

</div>
