<div>
  <div class="pull-left" style="margin-right: 10px">
    <div class="form-group">
      <%= f.label(:parsed) %>  <span class="glyphicon glyphicon-question-sign help-popover" data-container="body" data-toggle="popover" data-placement="right" data-content="This is the text that Tesseract returns from the screenshot. Black indicates a formatting problem. Red indicates a lap / sector time calculation error. Blue indicates that everything is correct."></span>
      <div style="border: solid 1px #000;">
      <%= f.text_area(:parsed, :class => 'form-control', :placeholder => 'Parsed Text') %>
      </div>
    </div>

    <div class="checkbox">
      <%= f.label(:confirmed) do %>
        <%= f.check_box(:confirmed, { :disabled => @screenshot.image.nil? || @screenshot.parsed.blank? }) %> Lap times are correct?
      <% end %>
      <span class="glyphicon glyphicon-question-sign help-popover" data-container="body" data-toggle="popover" data-placement="right" data-content="This lets the site know that you believe the lap times are correct and to generate individual lap records. There is no way to confirm the truth of this, please be honest :)"></span>
    </div>

    <div class="form-group">
      <%= f.label(:image) %>
      <%= f.file_field(:image, :class => 'form-control') %>
    </div>

    <div class="form-group">
      <%= f.submit('Save', :class => 'btn btn-default') %> <%= cancel_link(@screenshot, false) %>
    </div>
  </div>

  <div class="pull-left">
    <p><strong>Image</strong></p>
    <%= image_tag(@screenshot.image.url(:three_quarters)) %>
  </div>

</div>
