<!DOCTYPE html>
<html>
<head>
  <title>VirtualWDC Reddit Racing League</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Racing League Charts</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav nav-default" id="nav">
      <% if @super_leagues %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leagues <strong class="caret"></strong></a>
        <ul class="dropdown-menu" id="leagues">
        <% @super_leagues.each do |super_league| %>
          <li class="dropdown-header"><%= super_league.name %></li>
          <% super_league.leagues.each do |league| %>
            <li>
              <%= link_to(super_league_league_path(@super_league, league)) do %>
                <span class="glyphicon <%= is_current?(league, @league) %>"></span>
                <%= league.name %>
              <% end %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </li>
      <% end %>
      <% if @seasons %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seasons <strong class="caret"></strong></a>
        <ul class="dropdown-menu" id="seasons">
        <% @seasons.each do |season| %>
          <li>
            <%= link_to(super_league_league_season_path(@super_league, @league, season)) do %>
              <span class="glyphicon <%= is_current?(season, @season) %>"></span>
              <%= season.name %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </li>
      <% end %>
      <% if @races %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Races <strong class="caret"></strong></a>
          <ul class="dropdown-menu" id="races">
            <% @races.each do |race| %>
              <li>
                <%= link_to(super_league_league_season_race_path(@super_league, @league, @season, race)) do %>
                  <span class="glyphicon <%= is_current?(race, @race) %>"></span>
                  <%= race.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="wrapper">
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, :class => name) %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
