<!DOCTYPE html>
<html>
<head>
  <title>Racing League Charts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('rlc.ico') %>
</head>
<body>

<div id="page-wrapper">
  <div id="sidebar-wrapper">
    <div class="brand">RACING<br/>LEAGUE<br/>CHARTS</div>
    <div class="middle">
      <ul class="nav nav-pills nav-stacked nav-list nav-list-1">
        <% @super_leagues.each do |super_league| %>
        <li>
          <%= link_to(super_league.name, '', :class => 'toggle') %>
          <ul class="nav nav-pills nav-stacked nav-list nav-list-2" style="display: <%= expand_menu?(@race, super_league) %>;">
          <% super_league.leagues.each do |league| %>
            <li>
              <%= link_to(league.name, '', :class => 'toggle') %>
              <ul class="nav nav-pills nav-stacked nav-list nav-list-3" style="display: <%= expand_menu?(@race, league) %>;">
              <% league.seasons.each do |season| %>
                <li>
                  <%= link_to(season.name, '', :class => 'toggle') %>
                  <ul class="nav nav-pills nav-stacked nav-list nav-list-4" style="display: <%= expand_menu?(@race, season) %>;">
                    <% season.races.each do |race| %>
                    <li class="<%= @race == race ? "active" : "" %>"><%= link_to(race.name, race_path(race)) %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              </ul>
            </li>
          <% end %>
          </ul>
        </li>
      <% end %>
      </ul>
    </div>
    <div class="bottom">
      <ul class="list-inline">
        <li><%= link_to('Sign in', sign_in_users_path, :class => 'btn btn-success rlc-btn') %></li>
        <li><%= link_to('Sign up', sign_up_users_path, :class => 'btn btn-primary rlc-btn') %></li>
      </ul>
    </div>
  </div>

  <div id="page-content-wrapper">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, :class => "alert #{bootstrap_alert(name)}") %>
    <% end %>
    <%= yield %>
  </div>
</div>

</body>
</html>
